<div class="content">
    <div class="mat-elevation-z4 padding-24">
      <div>
          <h2 class="header-text">Process drawing</h2>
      </div>
      <div>
          <div class="flex flex-wrap flex-center">
              <div class="flex">
                  <div class="large-box mat-elevation-z4" >
                    <button mat-icon-button color="accent" (click)="setLineAsPencil()">
                        <mat-icon>create</mat-icon>
                      </button>
                      <canvas #canvas></canvas>
                      <button mat-icon-button color="warn" (click)="setLineAsEraser()">
                        <mat-icon>brush</mat-icon>
                      </button>
                  </div>
              </div>
              <div class="buttons">
                <div class="submit-button">
                    <button mat-mini-fab color="accent" (click)="processImage()">
                        <mat-icon>child_care</mat-icon>
                    </button>
                </div>
                <div class="clear-button">
                    <button mat-mini-fab color="warn" (click)="clearCanvas()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
              </div>
              <div class="flex">
                  <div class="large-box mat-elevation-z4">
                      <img [src]="resultImage" class="result-image"/>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
